.exercice-flex .container {
  display: flex;
  flex-direction: row;
}


.exercice-order-1 .container {
  display: flex;
  flex-direction: row;
}

.exercice-order-1 .element-blue {
  order: 1;
}


.exercice-order-2 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exercice-order-2  .element-yellow {
  order: -1;
}

.exercice-order-3 .container {
  display: flex;
  flex-direction: row-reverse;
}

.exercice-order-3 .element-blue {
  order: 2;
}

.exercice-order-3 .element-red {
  order: 1;
}

.exercice-align-self-1 .container {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}

.exercice-align-self-1 .element-yellow {
  align-self: flex-end;
}

.exercice-align-self-2 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exercice-align-self-2 .element-yellow {
  align-self: flex-end;
}

.exercice-align-self-2 .element-blue {
  align-self: flex-start;
}

.exercice-all-in-1 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.exercice-all-in-1 .element-blue {
  order: -1;
  align-self: flex-start;
}

.exercice-all-in-2 .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.exercice-all-in-2 .element-blue {
  order: 1;
}

.exercice-all-in-2 .element-pink {
  align-self: flex-start;
}


/* 8. exercice-margin-auto */

