.exercice-flex .container {
  display: flex;
  flex-direction: row;
}


.exercice-order-1 .container {
  display: flex;
  flex-direction: row;
}

.element-blue {
  order: 1;
}


.exercice-order-2 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.element-blue {
  order: 0;
}

.element-yellow {
  order: -1;
}


/* 4. exercice-order-3 */


/* 5. exercice-align-self-1*/


/* 6. exercice-align-self-2*/


/* 7. exercice-all-in-1 */


/* 8. exercice-all-in-2 */


/* 8. exercice-margin-auto */

